/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/04/2016, 20:01:35
    Author     : davil
*/

#diego{
    weight: 300px;
    widht: 500px;
    
    
}

