
/*body{
	background-image: url("../images/background.jpg");
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 15%;
}*/

.a1{
	font-size: 10px;
}


.margem{
	margin-left: 7%;
	margin-right: 7%;
}

.formulario{
    margin-top: 100px; 
}